.content {
  grid-area: c;
  background-color: gray;
  }
.content__image{

  width: auto;
  height: 20vw;
  background: url("https://i.pinimg.com/originals/7f/ea/17/7fea175e13ba4a4b29672d15b2497367.jpg");

  }