
.header {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  }

.header__menu {
  display: flex;
width: 25%;
  justify-content: space-between;
  }

.header__item {
  color: white;

  }

.wrapper {
  grid-area: h;
  background-color: darkblue;
  }

.header__social {
  display: flex;
  color: white;
justify-content: space-between;
  width: 15%;
  }

.header__twitter {
  }

.header__faceBook {

  }

.header__googlePlus {

  }

.header__v {

  }